:root {
    --vermelho: #ff1818;
    --branco: #fff;
    --preto: #000;
}

body 
{
    margin:0;
}

.botaoSair {
    background: var(--vermelho);
    color: var(--branco);
    border: 1px solid var(--preto);
    font-weight: 800;
    font-size: 20px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
}